/* src/app/results/play.css */
.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.distance {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.compass-container {
  margin: 0rem 0;
}

.compass {
  width: 200px;
  height: 200px;
  border: 10px solid #1e90ff;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.compass-needle {
  width: 10px;
  height: 50%;
  background-color: red;
  position: absolute;
  top: 0%;
  left: 50%;
  transform-origin: bottom center;
  transform: translateX(-50%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.compass-markings {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.compass-markings::before,
.compass-markings::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 50px;
  background-color: #343a40;
}

.compass-markings::before {
  transform: rotate(0deg);
}

.compass-markings::after {
  transform: rotate(90deg);
}

.north-indicator, .south-indicator, .east-indicator, .west-indicator {
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold;
  color: #343a40;
}

.north-indicator {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.south-indicator {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.east-indicator {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.west-indicator {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.paragraph {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #2a14f4;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: #fff;
  background-color: #0070f3;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1;
  max-width: 100px;
  font-family: 'Arial', sans-serif;
}

.button:hover {
  background-color: #005bb5;
}

.button:active {
  background-color: #003f7f; /* ボタンを押したときの色 */
}

.button_web{
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.5rem;
  color: #000000;
  border: none;
  background-color: #afd4ff;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1;
  max-width: 100px;
  font-family: 'Arial', sans-serif;
}